<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-outline" version="0.0.0">
  <name>Outline Cordova Plugin</name>
  <description>Native plugin for the Outline app</description>
  <license>Apache 2.0</license>
  <engines>
    <engine name="cordova-android" version=">=4.0.0-dev" />
  </engines>

  <!-- Android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="OutlinePlugin">
        <param name="android-package" value="org.outline.OutlinePlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
      <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
      <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    </config-file>

    <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest/application">
      <service
        android:name="org.outline.vpn.VpnTunnelService"
        android:exported="false"
        android:label="@string/app_name"
        android:permission="android.permission.BIND_VPN_SERVICE"
        android:process=":vpn">
        <intent-filter>
          <action android:name="android.net.VpnService" />
        </intent-filter>
      </service>

      <receiver android:name="org.outline.vpn.VpnServiceStarter" android:enabled="true" android:exported="false">
          <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
          </intent-filter>
          <intent-filter>
            <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
          </intent-filter>
      </receiver>

      <meta-data android:name="io.sentry.auto-init" android:value="false" />
    </config-file>

    <hook type="before_plugin_install" src="android/scripts/copy_third_party.js" />

    <source-file
      src="android/java/org/outline/OutlinePlugin.java"
      target-dir="app/src/main/java/org/outline" />
    <source-file
      src="android/libs/tun2socks.aar"
      target-dir="app/src/main/libs" />
    <!-- These are JNI libraries with debug symbols required for crash reporting tools. -->
    <source-file
      src="android/libs/obj"
      target-dir="app/" />

    <resource-file src="android/resources/small_icon.png" target="res/drawable/small_icon.png" />
    <resource-file src="android/resources/bypass_subnets.xml" target="res/values/bypass_subnets.xml" />
    <resource-file src="android/resources/strings/" target="res/" />

    <framework src="android/java/build-extras.gradle" custom="true"
      type="gradleReference" />
  </platform>

  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="OutlinePlugin">
        <param name="ios-package" value="OutlinePlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="apple/src/OutlinePlugin.swift" />
  </platform>

   <!-- macOS -->
  <platform name="osx">
    <config-file target="config.xml" parent="/*">
      <feature name="OutlinePlugin">
        <param name="ios-package" value="OutlinePlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="apple/src/OutlinePlugin.swift" />
    <resource-file src="apple/src/macos/Outline-Bridging-Header.h" />
  </platform>
</plugin>
