*       @Jigsaw-Code/outline-dev

/client/tools/               @Jigsaw-Code/outline-networking-owners
/client/src/backend/         @Jigsaw-Code/outline-networking-owners
/client/src/cordova/plugin/  @Jigsaw-Code/outline-networking-owners
/client/src/www/model/       @fortuna 

/third_party/         @Jigsaw-Code/outline-networking-owners
