# the minSdk specified in the config.xml is 22, which maps to android 5.0
# this is webview released with that version of android
# (see: https://developer.chrome.com/docs/multidevice/webview/#what-version-of-chrome-is-it-based-on)
android >= 36

# we use electron version 11.5
# this is the version of chrome it requires
chrome >= 85

# this is the ios deployment target specified in the config.xml
ios >= 11

# our macos project specifies macos 10.14 as the build target
# this is the corresponding safari version
safari >= 14
