node_modules
.idea
.task
.vs/
*.DS_Store
*.env
*.pdb
*.sw?
/server_manager/node_modules
/server_manager/install_scripts/do_install_script.ts
/server_manager/install_scripts/gcp_install_script.ts
/output
/build

*storybook.log
