.idea
.vs/
.vscode
*.DS_Store
*.env
*.pdb
*.sw?
coverage
info.txt
keystore.p12
obj/
Outline.apk
Outline.apks
packages/
toc.pb
tools/OutlineService/OutlineService/bin/*
!tools/OutlineService/OutlineService/bin/*.exe
tools/smartdnsblock/bin/*
!tools/smartdnsblock/bin/*.exe
universal.apk
xcuserdata/
