<!--
  Copyright 2018 The Outline Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<?xml version='1.0' encoding='utf-8'?>
<widget id="org.outline.android.client" version="1.4.0" android-versionCode="33" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Outline</name>
    <description>
        Internet without borders (powered by Shadowsocks)
    </description>
    <content src="cordova_index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name="AndroidLaunchMode" value="singleInstance" />
    <preference name="ShowSplashScreenSpinner" value="false" />

    <!-- Android -->
    <platform name="android">
        <preference name="SplashMaintainAspectRatio" value="true" />

        <icon density="ldpi" src="resources/icons/android/icon_mdpi.png" />
        <icon density="mdpi" src="resources/icons/android/icon_mdpi.png" />
        <icon density="hdpi" src="resources/icons/android/icon_hdpi.png" />
        <icon density="xhdpi" src="resources/icons/android/icon_xhdpi.png" />
        <icon density="xxhdpi" src="resources/icons/android/icon_xxhdpi.png" />
        <icon density="xxxhdpi" src="resources/icons/android/icon_xxxhdpi.png" />

        <splash density="ldpi" src="resources/splashscreen/android/splashscreen_hdpi.png" />
        <splash density="mdpi" src="resources/splashscreen/android/splashscreen_hdpi.png" />
        <splash density="hdpi" src="resources/splashscreen/android/splashscreen_hdpi.png" />
        <splash density="xhdpi" src="resources/splashscreen/android/splashscreen_xhdpi.png" />
        <splash density="xxhdpi" src="resources/splashscreen/android/splashscreen_xxhdpi.png" />
        <splash density="xxxhdpi" src="resources/splashscreen/android/splashscreen_xxxhdpi.png" />

        <custom-config-file parent="./application/activity/[@android:name='MainActivity']" target="AndroidManifest.xml">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="ss" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="s3.amazonaws.com" android:path="/outline-vpn/invite.html" />
            </intent-filter>
        </custom-config-file>
    </platform>

    <!-- browser -->
    <platform name="browser">
        <preference name="ShowSplashScreen" value="false" />
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <preference name="deployment-target" value="11.0" />
        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#263238" />
        <preference name="StatusBarStyle" value="lightcontent" />

        <!-- https://github.com/apache/cordova-plugin-splashscreen#launch-storyboard-images -->
        <splash src="resources/splashscreen/ios/splashscreen@2x~universal~anyany.png" />

        <!-- https://developer.apple.com/ios/human-interface-guidelines/icons-and-images/app-icon -->
        <!-- iPhone -->
        <icon src="resources/icons/ios/Icon-57@1x.png" width="57" height="57" />
        <icon src="resources/icons/ios/Icon-57@2x.png" width="114" height="114" />
        <icon src="resources/icons/ios/Icon-60@2x.png" width="120" height="120" />
        <icon src="resources/icons/ios/Icon-60@3x.png" width="180" height="180" />
        <!-- iPad Pro  -->
        <icon src="resources/icons/ios/Icon-83.5@2x.png" width="167" height="167" />
        <!-- iPad, iPad Mini  -->
        <icon src="resources/icons/ios/Icon-72@1x.png" width="72" height="72" />
        <icon src="resources/icons/ios/Icon-72@2x.png" width="144" height="144" />
        <icon src="resources/icons/ios/Icon-76@1x.png" width="76" height="76" />
        <icon src="resources/icons/ios/Icon-76@2x.png" width="152" height="152" />
        <!-- App Store -->
        <icon src="resources/icons/ios/Icon-512@2x.png" width="1024" height="1024" />
        <!-- Spotlight iPhone, iPad -->
        <icon src="resources/icons/ios/Icon-40@2x.png" width="80" height="80" />
        <icon src="resources/icons/ios/Icon-40@3x.png" width="120" height="120" />
        <icon src="resources/icons/ios/Icon-50@1x.png" width="50" height="50" />
        <icon src="resources/icons/ios/Icon-50@2x.png" width="100" height="100" />
        <!-- Settings iPhone, iPad -->
        <icon src="resources/icons/ios/Icon-29@1x.png" width="29" height="29" />
        <icon src="resources/icons/ios/Icon-29@2x.png" width="58" height="58" />
        <icon src="resources/icons/ios/Icon-29@3x.png" width="87" height="87" />
        <!-- Notifications iPhone, iPad -->
        <icon src="resources/icons/ios/Icon-20@2x.png" width="40" height="40" />
        <icon src="resources/icons/ios/Icon-20@3x.png" width="60" height="60" />
    </platform>

    <!-- macOS -->
    <platform name="osx">
        <preference name="deployment-target" value="10.11" />
        <preference name="AllowWebViewNavigation" value="false" />
        <icon src="resources/icons/osx/icon-16.png" width="16" height="16" />
        <icon src="resources/icons/osx/icon-32.png" width="32" height="32" />
        <icon src="resources/icons/osx/icon-64.png" width="64" height="64" />
        <icon src="resources/icons/osx/icon-128.png" width="128" height="128" />
        <icon src="resources/icons/osx/icon-256.png" width="256" height="256" />
        <icon src="resources/icons/osx/icon-512.png" width="512" height="512" />
        <icon src="resources/icons/osx/icon-1024.png" width="1024" height="1024" />
    </platform>
</widget>
